/* navigation */

#navbar{
    flex-direction: column;
}

/*Navigation bar : Logo and Image */
#logo img {
    height: 3.5rem;
    border-radius: 50%;
}
#navbar ul li a img {
    display: none;
}


/*Navigation bar : List styling and icon styling*/

#navbar ul li {
    list-style: none;
    font-size: 1rem;
    padding: 0px 0px;
}

/* Home Section */
#home{
    height: 37rem;
    flex-direction: column;
    padding:0.3rem 2rem
}

#home::before{
    height: 35rem;
}

#home h1{
    /* font-size: 5vw; */
}

#home p{
    font-size: 0.9rem;
}

/* Services Section*/
#services{
    flex-direction: column;
}
#services .box img {
    display: block;
    height: auto;
    width: 15vw;
    margin: auto;
}


/* Client section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    height: 7vh;
}


/* contact section*/


/* contact section*/

#contact-box form {
    width: 80%;
}
#contact-box form label {
    font-size: 1.1rem;
}


#contact-box input,
#contact-box textarea {
  padding: 0.1rem;
  border-radius: 5px;
  font-size: 0.8rem;
}
#message{
    display: inline;
}
#contact-box #submit{
    width: 15vw;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Utility classes */
.h-primary{
    font-size: 2.2rem;
    flex-direction: column;
}
.h-secondary{
    font-size: 1.5rem;
    flex-direction: column;
}
.btn{
    font-size: 100%;
    padding: 1% 1%;
}   